 
# Visual Studio 2017/2019/2022
.vs/
*.VC.db
*.VC.VC.opendb
!*.sln

# Xcode
*.xcodeproj
*.xcworkspace
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Build
Build/
Binaries/
Intermediate/
DerivedDataCache/
Saved/
.DS_Store
.vs/

# Plugins
Plugins/*/Binaries/
Plugins/*/Intermediate/

# Ignore these directories
# Comment out if you have your source files tracked in your repository
Source/
Config/
Content/
*.uasset
*.umap
